:root {
  /*gradient colors*/
  --gradient-1:#360543;
  --gradient-2:#a63ca2;

  --color-1:rgb(64, 12, 97);

  /*padding*/
  --padding-text:20px;
  
}

.typewriter{
  display: flex;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  width: 100%;
}


.typewriter h1 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  border-right: 0.15em solid var(--color-1);
  letter-spacing: 0.1em;
  animation:
    typing 3.2s steps(32, end) 0s 1 both,
    blink-caret 0.75s step-end infinite;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes typing {
  from { width: 0; }
  to   { width: 32ch; } 
}


.small-text{
    display: inline-block;
    font-size: 1.1em;
    padding: var(--padding-text);
}

.medium-text{
    display: inline-block;
    font-size: 2em;
    color: var(--color-1);
    font-weight: bolder;
    padding: 20px;
}

.large-text{
  display: inline-block;
  font-weight: bolder;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
  padding: 20px;
  align-self: center;
}
