@use 'variables' as *;

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    max-width: 600px;
    min-height: 200px;
    padding: 24px; 
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    margin: clamp(20px, 5vh, 50px) auto;

    background-color: $bg-color;
    box-shadow: $shadow-lg;

    &:focus-within{
        outline: $focus-outline;
        outline-offset: 4px;
    }

     input[type="text"] {    
        flex: 1;    
        min-width: 0;    
        border: none;    
        background-color: transparent;    
        font-size: clamp(24px, 4vw, 48px);    
        line-height: 1.2;    
        text-align: center;
    }
}
