.search-bar{
    display: flex;
    padding: 30%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.527);
    border: none;
    min-height: 50%;
    box-shadow: 0 8px 24px rgba(0,0,0,.12);
    align-items: center;
    
}

.search-bar input[type="text"]{
    font-size: 80px;
    font-weight:bolder;
    border: none;
    background-color: transparent;
    color: rgb(98, 21, 98);
    
}

.search-bar input:focus{
  outline: none;
  box-shadow: none;
}
