*, *:before, *:after {
  box-sizing: border-box;
}

html,body {
  font-family: system-ui;
  background: linear-gradient(
  135deg,
  #ff6ec7 0%,
  #d66efd 30%,
  #6f6bfa 60%,
  #4adede 100%
);
}


.parent {
  display: grid;
  gap: 16px;     
  padding: 16px; 
  height: 100dvh;  
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
      "header header header"
      "info   search  result"
      "footer footer footer";

}

.div1 { grid-area: header; }
.div3 { grid-area: info; }
.div4 { grid-area: search; }
.div5 { grid-area: result; }
.div2 { grid-area: footer; }

@media (max-width: 900px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "search"
      "result"
      "info"
      "footer";
  }
}

.div1,.div2,.div3,.div4,.div5{
    box-shadow:  0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.254);
}


.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover {
  background-color: rgba(255, 255, 255, 0.548);
}

