*, *:before, *:after {
  box-sizing: border-box;
}

html,body {
  font-family: system-ui;
  background: linear-gradient(
  135deg,
  #ff6ec7 0%,
  #d66efd 30%,
  #6f6bfa 60%,
  #4adede 100%
);
  height: 100%;
  margin: 0;
}


.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
gap: 16px;        /* controlează spațiul dintre zone */
height: 100dvh;   /* ca să umple ecranul stabil pe mobil/desktop */
padding: 16px; 

}

.div1 { 
    grid-area: 1 / 1 / 2 / 6;
    padding: 20px;
    display: flex;
    align-items: center;
}
.div2 { 
    grid-area: 5 / 1 / 6 / 6;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;

 }
.div3 { 
    grid-area: 2 / 1 / 5 / 2; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    }
.div4 {
     grid-area: 2 / 2 / 5 / 4;
     display: flex;
     padding: 30px;
     justify-content: center;
     flex-direction: column;
  }
.div5 { 
    grid-area: 2 / 4 / 5 / 6;
    display: flex;
    padding: 30px;
    justify-content: center; }

.div1,.div2,.div3,.div4,.div5{
    box-shadow:  0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.254);
}


.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover {
  background-color: rgba(255, 255, 255, 0.548);
}

