
.typewriter h1 {
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgb(64, 12, 97);
  letter-spacing: 0.1em;
  width: 32ch; 
  animation:
    typing 3.2s steps(32, end) 0s 1 both,
    blink-caret 0.75s step-end infinite;
 background: linear-gradient(to right, #360543, #a63ca2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;

}

@keyframes typing {
  from { width: 0; }
  to   { width: 32ch; } 
}


.small-text{
    display: inline-block;
    font-size: 1.1em;
}

.medium-text{
    display: inline-block;
    font-size: 1.5em;
    color: #5b085b9d;
    font-weight: bolder;
}

.large-text{
  display: inline-block;
    font-size: 1.5em;
    font-weight: bolder;
   background: linear-gradient(to right, #360543, #a63ca2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
  padding: 20px;
}
