.typewriter{
  display: block;
  text-align: center;
  font-size: 2em;
  padding-bottom: 0px;
  font-weight: 900;
}

.typewriter h1 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgb(64, 12, 97);
  letter-spacing: 0.1em;
  width: 32ch; 
  animation:
    typing 3.2s steps(32, end) 0s 1 both,
    blink-caret 0.75s step-end infinite;
  background: linear-gradient(to right, #360543, #a63ca2);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes typing {
  from { width: 0; }
  to   { width: 32ch; } 
}


.small-text{
    display: inline-block;
    font-size: 1.1em;
    padding: 20px;
}

.medium-text{
    display: inline-block;
    font-size: 1.5em;
    color: #5b085b9d;
    font-weight: bolder;
    padding: 20px;
}

.large-text{
  display: inline-block;
  font-weight: bolder;
  background: linear-gradient(to right, #360543, #a63ca2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
  padding: 20px;
  align-self: center;
}
